.logo{
    width:150px;
    margin-left:10px ;
    margin-top: 8px;
    margin-bottom: 8px;
}

.linkBox{
    width: 100%;
    margin-top: 5px;
    margin-left: 9%;
}
  
.nav{
    background-color: #000000;
    display: flex;
}
  
.linkList{
    display: flex;
}

.link{
    margin-left:4%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navlink{
    text-decoration: none;
    font-size: 23px;
    color:white;
    font-weight: 600;
    transition: 0.3s color ease-in;
}

.navlink:hover{
    color:rgb(0, 255, 200);
}

.active{
    color:rgb(0, 132, 255);
}