.signupBox{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupHeading{
    color: white;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 2%;
}

.signupForm{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupFormRow{
    width:70%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:2% 0%;
}

.signupIcon{
    color:white;
    background-color: rgb(0, 132, 255);
    font-size: 30px;
    padding:15px;
    padding-left: 17px;
    border-radius: 10px 0px 0px 10px;
}

.signupInput{
    display: table-cell;
    width: 75%;
    height: 50px;
    padding: 5px;
    padding-left:20px;
    font-size: 18px;
    color: #000;
    background: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
}

.signupBtn{
    margin-top:3%;
    padding: 20px 25px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    font-size: 32px;
    color: white;
    background-color: rgb(0, 132, 255);
    text-align:center;
}

.signupBtn:hover{
    cursor:pointer;
    background-color:rgb(0, 84, 163);
}

.red{
    color:rgb(255, 0, 98)
}

.blue{
    color:rgb(0, 204, 255);
}

.green{
    color:rgb(0, 202, 84);
}

.signupMsg{
    font-size:18px;
    font-weight:600;
    width:60%;
    transition:color 0.3s ease-in-out;
    text-decoration:none;
}


#login:hover{
    cursor:pointer;
    color:rgb(1, 112, 139);
    text-decoration:underline;
}