@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
body{
    margin:0;
    padding:0;
    background-color: rgb(27, 27, 27);
    font-family: "SUSE", sans-serif;
}


body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and newer Edge */
}

.hidden{
    display: none;
}